body {
  margin-top: 0px;
  margin-left: 0px;
  width: 1920px;
  height: 1080px;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  opacity: 1;
}

a {
  text-decoration: none;
}
.sr-container{
  height:42px;
  display:flex;
  flex-direction: row;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  justify-content: right;
  text-align: right;
  font-size: 14px;  

}
.register{
  margin-right: 19px;
  font-family: normal normal normal 14px/19px Segoe UI;
  color: #707070;
  font-size: 14px;
  padding-top: 12px;


}
 .login{
  margin-right: 19px;
  font-family: normal normal normal 14px/19px Segoe UI;
  color: #707070;
  font-size: 14px;
  padding-top: 12px;


}
nav {
  width:1920px;
  height:104px;
  display: flex;
  background: #222222 0% 0% no-repeat padding-box;
  opacity: 1;
  
}
nav a {
  margin-left: 12px;
  font-size: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  
}
.ar{
  font-size:20px;
  font: normal normal bold 15px/20px Segoe UI;
  color: #222222;
  text-align:center ;
  margin-top: 10px;

}
.ar-icon{
  margin-top: 32px;
  margin-left: 1400px;
  width: 40px;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius:50%;
  
}

.home{
  margin-top: 47px;
  margin-left: 170px;
  text-align: left;
  font-family: normal normal bold Segoe UI;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size:15px;

}
.aboutus{
  margin-top: 47px;
  margin-left:47px;
  text-align: left;
  font-family: normal normal bold Segoe UI;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size:15px;

}
.contactus{
  margin-top: 47px;
  margin-left: 47px;
  text-align: left;
  font-family: normal normal bold Segoe UI;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size:15px;

}
footer { 
  margin-top: 939px ;
  margin-left: 0px;
  height: 283px;
  background: #222222 0% 0% no-repeat padding-box;
  opacity: 1;
}
.SR-box{

  width: 538px;
  height: 150px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
  display:flex;
  font: normal normal 300 11px/15px Segoe UI;
  align-items: left !important;
  

}
.check-login-icon{
  width: 30px;
  height: 27px;
  margin-top: -15px;
  margin-right:15px;


}
.left-icon {
  width: 30px;
  height: 30px;
  padding-top:36px;
}
.check-register-icon{
  width: 30px;
  height: 27px;
  margin-top: -15px;
  margin-left:15px;
 
}
.right-icon{
  width: 30px;
  height: 30px;
  padding-top:36px;
  
  }
.box-title{
font-size:15px ;
color:#000000;
font-weight: bold;
line-height: 15px;

}
.box-msg{
font-size: 11px;
color:#222222;
line-height: 2px;

}
.box-left{
width: 268px !important;
border-right: 1px solid #707070;
padding-left:24px;
padding-top: 20px;

}
.box-right{
  padding-left:24px ;
  width: 268px !important;
  padding-top: 20px;

}
.firstName{
 /* margin-top: 438px;
  margin-left: 692px;*/
  width: 258px;
  height: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
  margin-right: 12px;
}
.lastName{
  /*margin-top: 438px;
  margin-left: 969px;*/
  width: 258px;
  height: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
}
.name{
  display:flex;
  padding-top: 14px;


}
.mail{
 /* margin-top: 508px;
  margin-left: 692px;*/
  width: 536px;
  height: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
  
}
.psw1{
  /*margin-top: 578px;
  margin-left: 692px;*/
  width: 536px;
  height: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
}
.psw2{
  /*margin-top: 648px;
  margin-left: 692px;*/
  width: 536px;
  height: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
}
::placeholder{
  color:black;
  padding-left: 24px;
  padding-top: 18px;
}
.form-container{
  margin-left:692px;
  margin-top: 278px;
}
.form-group{
  padding-top: 14px;
}
.submit{
  margin-top: 46px;
  /*margin-left: 884px;*/
  width: 152px;
  height: 47px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  text-align: center;
  font-family: normal normal normal 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-left:192px; 
}
 .div-span{
  width:45px;
  height:65px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(-45deg) ;
  
}
span{
  position:absolute;
}
span:nth-of-type(1){
  width: 50px;
  height: 17px;
  background: #F2994A;
  border-radius: 10px 0 0;
}
span:nth-of-type(2){
  width: 17px;
  height: 40px;
  background: #F2994A;
  border-radius: 10px 0 5px;
}
span:nth-of-type(3){
  width:50px;
  height: 17px;
  background: #2D9CDB;
  border-radius: 0 0 10px;
  bottom:0;
  right:0;
}
span:nth-of-type(4){
  width: 17px;
  height: 40px;
  background: #2D9CDB;
  border-radius: 5px 0 10px;
  bottom:0;
  right:0;
}
.logo-header{
  position:absolute;
  margin-top: 53px;
  margin-left: 60px;

}
.logo-footer{
  position:absolute;
  padding-top: 190px;
  margin-left: 890px;
  
}
.copyRights{
  padding-top: 200px ;
  margin-left: 820px;
  font: normal normal normal 15px/20px Segoe UI;
  color: #FFFFFF;
}
.logo-home > .div-span{

  width:95px;
  height:150px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(-45deg) ;
}
.logo-home > .div-span > span:nth-of-type(1){
  width: 120px;
  height: 35px;
  background: #F2994A;
  border-radius: 10px 0 0;
  
}
.logo-home > .div-span >span:nth-of-type(2){
  width:35px;
  height: 100px;
  background: #F2994A;
  border-radius: 10px 0 5px;
}
.logo-home > .div-span >span:nth-of-type(3){
  width:120px;
  height: 35px;
  background: #2D9CDB;
  border-radius: 0 0 10px;
  bottom:0;
  right:0;
}
.logo-home > .div-span >span:nth-of-type(4){
  width: 35px;
  height: 100px;
  background: #2D9CDB;
  border-radius: 5px 0 10px;
  bottom:0;
  right:0;
}
.logo-home{
  background:#222222;
  width:367px;
  height:317px;
  position:relative;
  margin-top:25%;
  left:38%;
}
.home-description{
  margin-top: 200px;
  margin-left: 600px;
  text-align: left;
  font: normal normal normal 40px/53px Segoe UI;
  color: #000000;
}
